/*
Colors: https://color.adobe.com/de/%E3%82%AB%E3%83%A9%E3%83%BC%E3%83%86%E3%83%BC%E3%83%9E-9-color-theme-11276364/edit/?copy=true&base=2&rule=Custom&selected=2&name=Kopie%20von%20%E3%82%AB%E3%83%A9%E3%83%BC%E3%83%86%E3%83%BC%E3%83%9E%209&mode=rgb&rgbvalues=0.600000023841847,0.6352941393852234,0.4509803950786591,0.290196090936659,0.29411765933036804,0.2705882489681244,0.2431372553110123,0.25882354378700856,0.27843138575553894,0.9490196078431372,0.9098039215686434,0.8627450980392157,0.8470588326454163,0.6000000238417027,0.3529411852359772&swatchOrder=0,1,2,3,4
*/

.header {
	height: 60px;
	background-color: #3E4247;
	box-shadow: 0 0 15px;
	padding-left: 10px;
    padding-right: 10px;
    
    .header-title {
        line-height: 60px;
        height: 60px;
        float: left;
        margin-right: 15px;

        a {
            text-decoration: none;
            color: white;
            font-size: 16pt;
        }
    }

    .navigation-tab {
        line-height: 60px;
        float: left;
        padding-right: 15px;
        padding-left: 15px;

        a {
            text-decoration: none;
            color: white;
            font-size: 12pt;
        }
    }

    .navigation-tab.active {
        background-color: #F2E8DC;

        a {
            color: black;
        }
    }

    .navigation-tab:after {
        clear: both;
    }


}

.content {
    margin: 0 10px;
}