.search-form-big {
	height: 250px;
	width: 400px;

	.search-title {
		text-align: center;
		font-size: 16pt;
		margin-bottom: 20px;
	}

	.search-button {
		margin: 20px auto 0 auto;
	}
}

.search-form {
	margin: 20px 0;
	max-width: 600px;
}