{% extends "base.html" %}

{%block title %}<title>Simple Software Reports</title>{% endblock %}

{% block content %}
<div class="flex-center fill-content">
	<div class="search-form-big">
		<div class="search-title">
			<span class="text">Simple Software Reports search</span>
		</div>
		<form method="GET" action="{{ url_for('views.search') }}" class="search-form">
			<input class="form-control" name="q" type="text" placeholder="Search" class="search-field">
			<button class="search-button button" type="submit">Search</button>
		</form>
	</div>
</div>
{% endblock %}